USE [CrueltyFreeBrands]
GO
/****** Object:  Table [dbo].[cf_products_with_retailers]    Script Date: 7/14/2026 8:36:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cf_products_with_retailers](
	[column1] [smallint] NOT NULL,
	[Brand] [nvarchar](255) NOT NULL,
	[All_vegan] [bit] NOT NULL,
	[Partial_vegan] [bit] NOT NULL,
	[Bad_parent_company] [bit] NOT NULL,
	[Black_owned] [bit] NOT NULL,
	[Ulta] [bit] NOT NULL,
	[Sephora] [bit] NOT NULL,
	[Beauty_Bay] [bit] NOT NULL,
	[Cult_Beauty] [bit] NOT NULL,
	[Nordstrom] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[cf_products_with_retailers] ([column1], [Brand], [All_vegan], [Partial_vegan], [Bad_parent_company], [Black_owned], [Ulta], [Sephora], [Beauty_Bay], [Cult_Beauty], [Nordstrom]) VALUES (0, N'100% Pure', 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[cf_products_with_retailers] ([column1], [Brand], [All_vegan], [Partial_vegan], [Bad_parent_company], [Black_owned], [Ulta], [Sephora], [Beauty_Bay], [Cult_Beauty], [Nordstrom]) VALUES (1, N'100BON', 1, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[cf_products_with_retailers] ([column1], [Brand], [All_vegan], [Partial_vegan], [Bad_parent_company], [Black_owned], [Ulta], [Sephora], [Beauty_Bay], [Cult_Beauty], [Nordstrom]) VALUES (2, N'1121 Apothecary', 1, 0, 0, 0, 0, 0, 0, 0, 0)
GO
